<configuration>


    <property name="LOG_LOCATION" value="${java.io.tmpdir}"/>


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>---\n%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="M-FILE" class="ch.qos.logback.core.FileAppender">
        <File>{LOG_LOCATION}/archived/mylog.log</File>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %logger{36} - %msg%n</pattern>
        </encoder>
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<fileNamePattern>${LOG_LOCATION}/archived/mylog-%d{yyyy-MM-dd}.%i.log-->
            <!--</fileNamePattern>-->
            <!--&lt;!&ndash;<timeBasedFileNamingAndTriggeringPolicy  class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">&ndash;&gt;-->
                <!--&lt;!&ndash;<maxFileSize>10MB</maxFileSize>&ndash;&gt;-->
            <!--&lt;!&ndash;</timeBasedFileNamingAndTriggeringPolicy>&ndash;&gt;-->
        <!--</rollingPolicy>-->
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{dd-MM-yyyy HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %logger{36}.%M - %msg%n
            </pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="M-FILE"/>
    </root>

    <!-- Application logs at trace level -->
    <logger name="com.se.samplelogging.service.MyServiceImpl" level="trace" additivity="false">
        <appender-ref ref="RollingFile" />
        <appender-ref ref="Console" />
    </logger>


</configuration>